.globalContainer {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 5rem;
}

.algorithmBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.optionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonBox {
  margin-top: 3rem;
}

.startButton {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: #e0e0e0;
}
